/* fd.css for FunnyDanny 8-bit */

#hero-area {
  padding-top: 10px;
  background: #4be;
}
#hero-area:before {
  background:none;
}

nav .block {
  background: #4be;
  margin-top:-100px;
}
nav .block .navbar-default .navbar-brand {
  padding: 10px 0px 0px 0px;
}

body {
  background: #333 url(../images/icons/brick-blue.png);
  font-family: 'Press Start 2P', cursive;
}
section {
  background: #333;
}
h1, h2, h3, h4, h5 {
  font-family: 'Press Start 2P', cursive;
  color: #eee;
}
hr {
  background:url('../images/brick-blue.png') repeat-x;
  height:20px;
  border:none;
}
