/* main.css for FunnyDanny 8-bit */
@font-face {
    font-family: 'EmulogicRegular';
    src: url('../fonts/emulogic-webfont.eot');
    src: url('../fonts/emulogic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/emulogic-webfont.woff') format('woff'),
         url('../fonts/emulogic-webfont.ttf') format('truetype'),
         url('../fonts/emulogic-webfont.svg#EmulogicRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

#header, #content, #footer { position:absolute; font-family:'EmulogicRegular'; font-size:10pt; }
#logo, #slogan, #nav, #on-air, #exit { position:absolute; margin:10px 10px 40px 10px; text-align:center;  }

#header { background-color:#0af; top:0; left:0; right:0; height:120px; overflow:hidden; }
#logo { width:300px; height:70px; }
  #logo-img { width:100%; height:50px; background:#c80; }
  #slogan { width:100%; margin:0; font-size:0.8em; color:white; text-align:center; }
#nav{ left:310px; right:310px; top:0; bottom:0; text-align:center; overflow-x:auto; overflow-y:hidden; color:white;  }
  #nav ul, #content-bottom-center ul { margin:0; padding:0;  height:20px; overflow-x:auto; }
  #nav li, #content-bottom-center li { display:inline; list-style-type:none; padding:0 10px; }
#on-air { width:190px; top:0; bottom:0px; right:110px; }
#exit { position:absolute; text-align:center; width:100px; top:30px; right:0; bottom:0; margin-bottom:0; }

#bricks-top { position:absolute; top:90px; height:30px; background:#950; left:0; right:0;}
#bricks-nav { width:300px; height:30px; background:#950; margin:0 auto;}

#content {
	background-color:#000; top:120px; left:0; right:0; bottom:10px;
	color:white;
	overflow:auto;
}
#content-top { height:300px; background:#000; overflow-x:auto; }
#content-bottom { position:absolute; top:300px; bottom:0px; left:0; right:0; background:blue; overflow:auto; }

#content-top-left, #content-top-right { position:absolute; overflow-x:auto; overflow-y:hidden }
#content-top-left { left:0; right:310px; height:280px; background:#222; margin:10px; }
#galleria { width:800px; height:280px; margin:0px auto; padding:0 20px; background:#444;  }
#content-top-right { width:300px; right:0; height:280px; background:#222; margin:10px; }
#content-bottom-left, #content-bottom-center, #content-bottom-right {
	position:absolute;
	margin:30px;
	background:#222;
	top:0;
	bottom:0;
}
#content-bottom-left { width:350px; }
#content-bottom-center { left:380px; right:300px; overflow:auto; text-align:center  }
#content-bottom-right { width:270px; right:0px; }
#media-boxes {
  position:absolute; top:20px; bottom:20px; left:20px; right:20px;
}
.media-box { width:120px; height:80px; background:#555; margin:20px 20px; display:inline-block;}
#media-nav { position:absolute; bottom:0; width:100% }

#footer { background-color:#000; bottom:0; left:0; right:0; height:12px; font-size:10px; font-family:"Verdana", sans-serif; color:#fff; text-align:center; }
